<footer>
    <div class="newsletter">
        <div>
            <h1>&#64;NEWSLETTER</h1>
        </div>
        <div><input type="email" [(ngModel)]="email" required></div>
        <div><button type="button" (click)="subscribeToNewsletter()">SUBSCRIBE</button></div>
    </div>
    <div class="social">
        <div>
            <h1>ALEXIT LOGO</h1>
        </div>
        <div>
            <i>ICON</i><i>ICON</i><i>ICON</i><i>ICON</i>
        </div>
    </div>
    <div class="main-content">
        <div>
            <h2>USER ACCOUNT</h2>
            <p>Already registered?<br> Log in now!</p>
            <p>Forgotten password</p>
            <p>Registration</p>
        </div>
        <div>
            <h2>ALEXIT COMPANY</h2>
            <p>About Alexit company</p>
            <p>Socially responsible business</p>
            <p>Job at Alexit</p>
            <p>Company profile</p>
        </div>
        <div>
            <h2>OUR STORE</h2>
            <p>Futog, Serbia</p>
            <p>Krajiska 14</p>
            <p>21410</p>
            <p>jotanovicaleksa&#64;gmail.com</p>
            <p>0658891631</p>
        </div>
        <div class="useful-informations">
            <h2>USEFUL INFORMATIONS</h2>
            <a routerLink="payment-methods">Payment methods</a>
            <a routerLink="terms-of-uses">Terms of uses</a>
            <a routerLink="about-delivery">About delivery</a>
            <a routerLink="brands">Brands</a>
        </div>
    </div>
    <div class="paying-with-card">
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
        <h3>CARD</h3>
    </div>
</footer>