footer {
    border: 1px solid red;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.newsletter {
    display: flex;
    justify-content: space-around;
}

.social {
    display: flex;
    justify-content: space-around;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
}

.paying-with-card {
    display: flex;
    justify-content: space-evenly;
}

.useful-informations {
    display: flex;
    flex-direction: column;
}